### ch2-note4-tuple.ipynb by PB13

### 튜플: tuple 이란?
- 리스트는 [ ]으로 둘러싸지만 튜플은 ( )으로 둘러싼다.
- 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.

In [1]:
even = (2, 4, 6, 8)
even

(2, 4, 6, 8)

In [2]:
type (even)

tuple

In [3]:
even=2,4,6,8
even

(2, 4, 6, 8)

In [4]:
t1 = ()  
t1

()

In [5]:
t2 = (1,)
t2=(1)
t2

1

In [6]:
type(t2)

int

In [7]:
t2=(1,)
t2

(1,)

In [8]:
t3 = (1, 2, 3)
t3

(1, 2, 3)

In [9]:
t4 = 1, 2, 3
t4

(1, 2, 3)

In [10]:
t5 = ("a", "b", ("ab", "cd"))
t5

('a', 'b', ('ab', 'cd'))

- t2 = (1,)처럼 단지 1개의 요소만을 가질 때는 요소 뒤에
- 콤마(,)를 반드시 붙여야 한다는 것과
- t4 = 1, 2, 3처럼 괄호( )를 생략해도 무방하다.

### 튜플 요솟값을 삭제하려 할 때

In [11]:
t1 = (1, 2, "a", "b")
del t1[0]  # Error

TypeError: 'tuple' object doesn't support item deletion

### 튜플: 사용방법

In [12]:
t1 = (1, 2, "a", "b")
t1

(1, 2, 'a', 'b')

In [13]:
t1[0]
t1

(1, 2, 'a', 'b')

In [14]:
t1[3]
t1

(1, 2, 'a', 'b')

In [15]:
t1 = (1, 2, "a", "b")
t1

(1, 2, 'a', 'b')

In [16]:
t1[1:]
t1

(1, 2, 'a', 'b')

In [17]:
t1[2:-1]
t1

(1, 2, 'a', 'b')

In [18]:
t1[2:]
t1

(1, 2, 'a', 'b')

In [19]:
t1 = (1, 2, "a", "b")
t1

(1, 2, 'a', 'b')

In [20]:
t2 = (3, 4)
t2

(3, 4)

In [22]:
t1 + t2

(1, 2, 'a', 'b', 3, 4)

In [23]:
t2 = (3, 4)
t2

(3, 4)

In [24]:
id(t2)

1543237702848

In [25]:
t2 = t2 * 3
id(t2)

1543226348064

### 튜플 길이구하기

In [26]:
t1 = (1, 2, "a", "b")
len(t1)

4