### ch2-note5-dictionary.ipynb by PB13

### 딕셔너리: 딕셔너리(Dictionary)란?¶
- 딕셔너리란 대응 관계를 나타내는 자료형.
- 연관 배열(Associative array) 또는 해시(Hash)
- 딕셔너리는 Key와 Value를 한 쌍으로 갖는 자료형
- 기본 딕셔너리의 모습
- {Key1:Value1, Key2:Value2, Key3:Value3, ...}
- Key와 Value의 쌍 여러 개가 { }로 둘러싸여 있다.
- 각각의 요소는 Key : Value 형태로 이루어져 있고 쉼표(,)로 구분 dic = {"name": "pey", "phone": "0119993323", "birth": "1118"}
- Key는 각각 'name', 'phone', 'birth'
- 각 Key에 해당하는 Value는 'pey', '0119993323', '1118'

In [1]:
dic = {"name": "pey", "phone": "0119993323", "birth": "1118"}
print(dic)

{'name': 'pey', 'phone': '0119993323', 'birth': '1118'}

### 여러 가지 딕셔너리

In [2]:
a = {1: "hi"}
a

{1: 'hi'}

In [3]:
a[1]

'hi'

In [4]:
a = {"a": [1, 2, 3]}  # value에는 복합 자료형도 사용된다.
len(a)

1

In [6]:
a["a"]

[1, 2, 3]

### 딕셔너리 쌍 추가하기

In [8]:
a = {1: "a"}
a[2] = "b"
a["name"] = "pey"
print(a)
a[3] = [1, 2, 3]
print(a)

{1: 'a', 2: 'b', 'name': 'pey'}
{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

### 딕셔너리 쌍 삭제하기

In [9]:
del a[1]
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

### 딕셔너리: 사용 방법

In [10]:
d = {"김연아": "피겨스케이팅", "류현진": "야구", "손흥민": "축구", "귀도": "파이썬"}
print(d)

{'김연아': '피겨스케이팅', '류현진': '야구', '손흥민': '축구', '귀도': '파이썬'}

In [11]:
d["손흥민"]

'축구'

### 딕셔너리에서 Key 사용해 Value 얻기

In [12]:
grade = {"pey": 10, "julliet": 99}
grade["pey"]

10

In [13]:
grade["julliet"]

99

In [14]:
a = {1: "a", 2: "b"}
a[1]

'a'

In [15]:
a = {"a": 1, "b": 2}
a["b"]

2

In [16]:
dic["phone"]

'0119993323'

In [17]:
dic = {"name": "pey", "phone": "0109993323", "birth": "1118"}
dic["birth"]

'1118'

### 딕셔너리: 관련 내장 함수들

In [18]:
a = {"name": "pey", "phone": "0119993323", "birth": "1118"}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [19]:
list(a.keys())

['name', 'phone', 'birth']

### 기본적인 반복(iterate) 구문(예: for문)을 실행

In [20]:
for k in a.keys():
    print(k)

name
phone
birth

- Value 리스트 만들기(values)

In [21]:

a.values()

dict_values(['pey', '0119993323', '1118'])

In [22]:
list(a.values())

['pey', '0119993323', '1118']

- Key, Value 쌍 얻기(items)

In [23]:
a.items()

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

In [24]:
list(a.items())

[('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')]

- Key: Value 쌍 모두 지우기(clear)

In [25]:
a.clear()
a

{}

- Key로 Value얻기(get)

In [26]:
a = {"name": "pey", "phone": "0119993323", "birth": "1118"}
a.get("name")  # a['name']

'pey'

In [27]:
a.get("phone")  # a['phone']

'0119993323'

- 딕셔너리 안에 찾으려는 Key 값이 없을 경우
- 미리 정해 둔 디폴트 값을 대신 가져오게 설정

In [28]:
a.get("foo", "bar")

'bar'

In [29]:
a.get("name", "bar")

'pey'

- 해당 Key가 딕셔너리 안에 있는지 조사하기(in)

In [30]:
a = {"name": "pey", "phone": "0119993323", "birth": "1118"}
"name" in a

True

In [31]:
"foo" in a

False